* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%); */
  background-color: #d3d3d3;
  background-image: linear-gradient(360deg,  #af8f2f 0%, #121214 74%);
  padding: 10px;
}
.card {
  width: 400px;
  height: 515px;
  margin: 100px auto 0;
  perspective: 1000px;
}
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}
.front {
  background: url(images/user.jpg);
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: bolder;
  /* color: #fff; */
}

.front h2{
  font-size: 40px;
}
.front button {
  font-weight: bold;
  width: 120px;
  border: 2px solid black;
  background: transparent;
  border-radius: 50px;
  padding: 8px;
  cursor: pointer;
  margin-top: 20px;
}
.back {
  background: #fff;
  color: #333;
  padding: 20px 40px;
  transform: rotateY(180deg);
}
.back h1 {
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 10px;
}
.back h1 span {
  font-weight: 400;
}
.back p {
  font-size: 14px;
  margin-top: 10px;
}
.back p span {
  font-weight: 600;
}
.back img {
  width: 120px;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* 
transparent bg - background:rgba(1,1,1,0.5);

*/